.container_encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    height: 15%; 
    padding: 10px 20px;
    background: #885996;
    color: #f1f1f1;
    z-index: 1;
    font-family: 'century gothic';
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

  .container_nombre {
    position: absolute;
    top: 10px; 
    left: 10px; 
}

.container_logo {
    position: absolute;
    top: 10px; 
    right: 20px; 
}

.container-lado{
    height: 83%; 
    width: 230px; 
    position: fixed; 
    z-index: 0; 
    bottom: 0; 
    left: 0;
    background-color:rgb(147, 117, 212); 
    overflow-x: hidden; 
    padding-top: 20px;
    font-size: 18px;
    font-family: 'century gothic';
  }

  .container_productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    row-gap: 60px; 
    column-gap: 20px;
    padding: 20px;
    margin-top: 9%; 
    margin-left: 250px; 
    font-family: 'century gothic';
}

.producto1, .producto2, .producto3, .producto4, .producto5, 
.producto6, .producto7, .producto8, .producto9, .producto10 {
    background-color: #f9f9f9; 
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    height: 100%; 
}

img {
    max-width: 100%; 
    height: auto; 
}

.container_button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #2b0833;
    color: rgb(237, 163, 237);
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s;
}

  
.container_button:hover {
    transform: scale(1.1);
    background-color: plum;
  }

.instagram{
    display: inline-block;
    padding: 10px 20px;
    background-color: #2b0833;
    color: rgb(195, 135, 195);
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.3s, background-color 0.3s;
}
.instagram:hover{
    transform: scale(1.1);
    background-color: plum;
}


body{
    background-color: #cebad4; 
    background-image: url(https://1drv.ms/u/c/f31e98b8b23460af/EVi5hDwGSFtGnDQbOpFRAg0Be27D_7_62l99qWOaQm3U2w)  ;
    background-repeat: repeat;
}



